<ul>
            <li>
                <span style="font-weight: bold;">Alex</span>: Marketing y publicidad
            </li>
            <li>
                <span style="font-weight: bold;">David</span>: Director del cultivo de vid
            </li>
            <li>
                <span style="font-weight: bold;">Marcos</span>: Relaciones publicas
            </li>
            <li>
                <span style="font-weight: bold;">Álvaro</span>: Contable
            </li>
            <li>
                <span style="font-weight: bold;">Marco</span>: Director de la producción
            </li>
        </ul>